body{ 
	margin: 0; 
	padding: 0;
	font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold',Microsoft YaHei,Microsoft YaHei Regular,SimHei,SimHei Regular, "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	background-color: black;
}


.title-content{
    margin: 0 auto;
    padding: 20px 0;
    border-bottom: solid 1px rgba(255, 255, 255, .8);
    position: absolute;
    top: 0;
    color: #FFF;
    text-align: center;
    width: 100%;
    font-size:21px;
}

.login-form{
	position: relative;
    margin: 170px auto 0 auto;
	color: #421776;
	background-color: #FFF;
	padding: 20px;
    width:720px;
    height:360px;
    border-radius: 25px;
    z-index:8;
}
.dc-logo{
    position: relative;
    left: 285px;
    width: 130px;
    height: 84px;
    z-index: 10;
}
.login-form .title{
	font-size: 35px;
    text-align:center;
}
.field{
    
    display: block;
    margin: 40px 15px 0 15px;
    
}
.dc-login{
    position: absolute;
    right: 35px;
    bottom: 15px;
    
}
    .dc-login span {
        line-height: 26px;
        display:block;
        float:left;
        margin-right:10px;
    }

    .dc-login img {
        float: left;
    }
input {
    color: rgba(51,51,51, .68);
    font-size:19px;
    top: 0px;
    left: 0px;
    width: 100%;
    bottom: 0px;
    right: 0px;
    display: block;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    vertical-align: middle;
    outline: none;
    height: 50px;
}
.border{border-bottom:solid 1px rgba(51,51,51, 1);}